################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDev.ML/.vs/SDev.ML/v16
/Apps/Test/bin/x86/Debug/netcoreapp3.1
/.vs/SDev.ML
/Apps/Test/obj
/SDev.ML/bin/x86/Debug
/SDev.ML/obj
/packages
/SDev.MLTests/bin
/SDev.MLTests/obj
/SDev.MLTests/Properties
/SDev.MLTests/packages.config
/Apps/TestSuite/bin/x64/Debug
/SDev.ML/bin/x64/Debug
/Apps/TestSuite/obj/Debug
/Apps/TestSuite/obj/x64
/Apps/TestSuite/obj
/SDev.ML/bin/Debug
